# Entorno virtual
venv/

# Python
__pycache__/
*.pyc

# Base de datos local
db.sqlite3

# Archivos de sistema
.DS_Store

# VS Code
.vscode/

# Archivos multimedia subidos (opcional, si no quieres subir imágenes de prueba)
media/
